{% extends 'scotstartup/base.html' %} 
{% load staticfiles %} 
{% load scotstartup_extras %}
{% block title %} Companies {% endblock %} 

{% block body %}

{% if companies %}
<ul class="nav nav-sidebar">
{% for company in companies %}
    {% if company == act_company %} 
        <li class="active" > 
    {% else %}
        <li>
    {% endif %}
    <a href="{% url 'company' company.slug %}">{{ company.name }}</a></li>
{% endfor %}

{% else %}
<li> <strong >There are no companies present.</strong></li>

</ul>
{% endif %}

{% endblock %}