{% extends 'scotstartup/base.html' %} 
{% load staticfiles %} 
{% block title %} Home {% endblock %} 

{% block body_block %}
<div class="page-header">
    
    {% if companies %}
    <h2>companies</h2>
    <ul>
        {% for company in companies %}
        <li><a href="{% url 'company' company.slug %}">{{ company.name }}<?a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>No companies.</strong>
    {% endif %}
    
    <a href="{% url 'add_company' %}"/>Add Company</a> 
    
</div>
{% endblock %}