{% extends 'scotstartup/base.html' %} 
{% load staticfiles %} 
{% load scotstartup_extras %}
{% block title %} Home {% endblock %} 

{% block body %}

    <!--
    {% if companies %}
    <h2>companies</h2>
    <ul>
        {% for company in companies %}
        <li><a href="{% url 'company' company.slug %}">{{ company.name }}<a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>No companies.</strong>
    {% endif %}
    -->

    
    
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">New Startups</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Featured Startups</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">News</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Events</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
        </div>

    <a href="{% url 'add_company' %}"/>Add Company</a> 
    

{% endblock %}